[2020-07-10 09:00] zolekode opened #1 "support languages other than English"
Hi @patil-suraj your library is really amazing and i would like to contribute. Any tips on how to train say for example in other languages ?

[2020-07-10 09:38] patil-suraj commented on #1
Thank you @zolekode .

For training in other languages we'll need a pre-trained model and dataset in that language. I'm not sure if there are pre-trained models available for other languages right now.

Without a pre-trained model the quality of the questions won't be as good as it is now.

[2020-07-10 09:47] zolekode commented on #1
@patil-suraj makes sense. Thanks alot. I will look into that

[2020-07-10 14:50] tomwilde opened #2 "GPU OOM"
Hi,

this is really great, thx for sharing. As per title I have limited GPU memory, any pointers on getting it to work ok?

thanks again.

[2020-07-10 14:56] patil-suraj commented on #2
Hi @tomwilde , Thanks you !

Can tell me how much GPU memory you have and which model you were using ?

Also when did it gave the OOM error, at the first run or after loading multiple models ?

[2020-07-10 16:25] tomwilde commented on #2
Hi, it’s a 750Ti with a whole 2Gb of ram. The model load fails but I didn’t think it was that big.

Thanks again

Tom

[2020-07-10 16:46] patil-suraj commented on #2
Hmm, t5 small should load in 2gb of ram. I'll need few more details, which pipeline are you using ? Also small modor or base model ?

[2020-07-10 17:04] tomwilde commented on #2
Hi, so its super simple!

from  question_generation.pipelines import pipeline
nlp = pipeline("question-generation")
testText = "some text in here"
print(nlp(testText))

Which gives me the traceback:

(tensorflow) H:\Projects\Python\question-generation>python hosted.py
Traceback (most recent call last):
  File "hosted.py", line 10, in <module>
    print(nlp(testText))
  File "H:\Projects\Python\que

[2020-07-10 17:31] patil-suraj commented on #2
Hi, I see what the issue is, the question-generation pipeline actually loads two models, one for extracting answer and other for generating question and both models are loaded on GPU at the same time. This can be made more efficient by loading the model on GPU only when it's used.

Till then try the multitask pipeline, it uses single model for both answer extraction and que generation and it's per

[2020-07-11 02:27] hunkim commented on #1
@patil-suraj We do have KorGPT, https://github.com/SKT-AI/KoGPT2 and https://korquad.github.io/. In this case, could you help to generate QAs for Kor?

[2020-07-12 06:09] patil-suraj commented on #1
Hi @hunkim , I do want to add support for GPT-2 in a week or two. Do you think you can upload this model on HF model hub so that it can be easily integrated here ?

As GPT-2 is not a seq-to-seq model, we'll need a different way to do QG with GPT-2. One way we can do answer aware QG with GPT-2 is prepare our input like this
Our context is `42 is the answer to life, the universe and everything`, ans

[2020-07-12 06:57] s20ss opened #4 "Answer like span extraction"
Kudos for your great work.
This is not an issue but i wanted to know more about how you are extracting answer like span from the context and then passing it to qg.

[2020-07-12 07:38] patil-suraj commented on #4
Thanks @s20ss.
This is described in [this](https://github.com/patil-suraj/question_generation#answer-extraction-models) section.

I did this using text-to-text approach. There are two ways we can do this
1. Provide the context as input and ask the model to generate ans spans separated  by  `sep` token.
So for this example `Python is a programming language. Created by Guido Van Rossum and first rel

[2020-07-13 10:10] tomwilde commented on #2
Hi again, so multitask proved too big too. So I went ahead and added a cpu-only option to pipelines and have raised a PR for it.

Thanks for you help anyway!

https://github.com/patil-suraj/question_generation/pull/5

[2020-07-13 10:10] #2 closed

[2020-07-13 10:23] #4 closed

[2020-07-14 09:03] rashad101 opened #6 "Unable to create tensor, you should probably activate truncation and/or padding"
Getting this error:
    "Unable to create tensor, you should probably activate truncation and/or padding "
ValueError: Unable to create tensor, you should probably activate truncation and/or padding with 'padding=True' 'truncation=True' to have batched tensors with the same length.

Evan setting 'padding=True' 'truncation=True' is not helping

My whole code is as follows:
`
from pipelines import p

[2020-07-14 09:33] patil-suraj commented on #6
Hi @rashad101 , what is your transformers version ?

[2020-07-14 16:24] patil-suraj commented on #6
It's working with v3.0.0, you can try this [colab](https://colab.research.google.com/github/patil-suraj/question_generation/blob/master/question_generation.ipynb)

[2020-07-15 12:03] ankitkr3 opened #8 "Can we increase the length of the answers ?"
Hi patil,

Thanks a lot for this helpful git, how can we increase the length of the answer from words to a sentence or few sentences ?

[2020-07-15 12:12] patil-suraj commented on #8
Hi @ankitkr3 , the answer extraction is also trained using SQuAD data and it doesn't have long answers, so it's kind of a dataset limitation. I'm also thinking about how to increase the length of answers, I'll update this issue once I find a proper solution

[2020-07-15 12:26] ankitkr3 commented on #8
okay, will be waiting,  there's a facebook data for long answers i think.

[2020-07-15 12:59] patil-suraj commented on #8
Yes, that's ELI5 dataset but it's abstracive QA data.

[2020-07-15 14:52] epetros commented on #1
Thanks for the library. Having the dataset (wikipedia/news articles) in another language, how can I go about fine tuning t5 to it?
Thanks!

[2020-07-16 07:24] rashad101 commented on #6
I'm using v3.0. I guess it's conflicting with some other dependencies. I created another virtual env and it worked there. Thanks

[2020-07-25 11:54] vishwasgpai opened #9 "How to get some kind of score for how confident the model is on that question?"
Hi First of all thank you for this amazing repo. So much things to learn.
So my question was sometimes model generates some questions which are not grammatically correct maybe becoz of the answer highlighted word it is facing difficulties to form a questions on that. Is there a way to get a confidence score for each question it generates like question answering does?

[2020-07-25 12:21] #6 closed

[2020-07-26 10:38] prateekg opened #10 "Including other QA datasets like Natural QA etc. in the pipeline to prepare the cache for training."

[2020-07-26 11:23] patil-suraj commented on #9
Thanks @vishwasgpai !
Yes, sometimes the generated questions are not grammatically correct, I'm looking for a way to automatically filter such questions, haven't found anything  yet.

One way to check if the question is conceptually correct or not is s Roundtrip Consistency described in this [paper](https://arxiv.org/pdf/1906.05416.pdf), idea is to first
1. extract an answer span
2. generate quest

[2020-07-26 11:27] patil-suraj commented on #10
Hi @prateekg , NQ is planned but might take some time. The dataset is really big, so caching it naively will take too much memory. It's also available in nlp library,  so I'm trying to use that. Feel free to open a PR if you get it working :)

[2020-07-27 04:52] vishwasgpai commented on #9
Yes, Actually that work around is a good. Thanks for it. I will experiment and update.

[2020-07-27 04:52] #9 closed

[2020-07-27 12:47] Krak91 opened #11 "Constantly error at question generation pipeline"
My use case is testing this using a few sentences for a few random documents from the newsgroups dataset in each call. In many cases i run to this error:
...site-packages\question_generation\pipelines.py", line 142, in _prepare_inputs_for_qg_from_answers_hl
    ans_start_idx = sent.index(answer_text)
ValueError: substring not found

It's actually line 140 - I've added a couple print statements to

[2020-07-27 13:26] patil-suraj commented on #11
Hi @Krak91 , thank you for reporting, I will take a look.

`ans_start_idx = sent.index(answer_text)` this call is needed to get the index of the answer span as we need to highlight the span.

[2020-07-27 13:27] Krak91 commented on #11
I see. I think the problem is that the model removes the extra spaces from the answers.

[2020-07-28 01:26] griff4692 opened #13 "Optimization warning"
Thanks for making this repo!

[code]

Is this something we should adjust for or is this intentional?  I'm also curious as to what hyperparameter tuning has been done. the effective fine-tuning batch size is about 256 (GAS * BS).  I'm wondering how that number was arrived at!

[2020-07-28 04:48] patil-suraj commented on #13
Hi @griff4692 ,
You can safely ignore this warning.

No special hyperparameter tuning has been done. The BS is chooses by following the current trends and the max the GPU can fit. All of these models are trained on  single V100 (16 GB)

[2020-07-28 14:27] prateekg commented on #10
Hey @patil-suraj, that sounds great that NQ is in the plan as it will help to cover a wide range of context.

I've been working on cache preparation for many other QA datasets but while trying to run the script for SQuAD data itself as suggested by you in the FineTuning the model and using the prepare_data.py file, system throws an error for:

nlp.info file -> in from_directory method -> dictionar

[2020-07-28 16:31] patil-suraj commented on #10
What is your nlp version ?

[2020-07-28 23:37] griff4692 commented on #13
Thanks for sharing this information!

[2020-07-28 23:37] #13 closed

[2020-07-29 05:36] prateekg commented on #10
I'm using the nlp==0.2.0 as you suggested.

[2020-07-29 18:17] ankitkr3 opened #14 "future of the T5"
hi,
can we use t5 for autograding of the answers?

[2020-07-30 07:50] patil-suraj commented on #10
Hi @prateekg  sorry for late response.

It works for me, I've created a colab for this [here](https://colab.research.google.com/drive/1JgaPy_nZ-86gpyg5LZ_8lfCZymizz6bu?usp=sharing) see if that works

[2020-07-30 07:53] patil-suraj commented on #14
Hi @ankitkr3 , can please explain it more ? What type of answers do you want to grade.

For simple squad type factual answer you can use any QA model for this. Give the question and context to QA model, compare the answer with your answer and if they overlap we can consider it as correct answer. However we need to be careful with this as answer returned by QA model can be wrong.

[2020-07-30 08:17] patil-suraj commented on #11
@Krak91 , yes, you are right, fix is easy

[2020-07-30 10:19] ankitkr3 commented on #14
I am talking about assessing an answer semantically.

[2020-07-30 10:21] ankitkr3 commented on #8
any update on long answer generation?

[2020-07-30 10:57] patil-suraj commented on #8
Hi @ankitkr3 , this is going to take some time, busy with other tasks now, if you are interested then take a look at Natural Questions dataset. It has both long and short answers. The dataset is available in `nlp` library. Note that it's a really big dataset, so processing will take time. Feel free to give it a try.

[2020-07-30 13:31] Krak91 commented on #11
Found a new case where this occurs. (not from spaces). What caused it is probably encoding. I'm not sure if this should be addressed prior to using the model, or if the pipeline/tokenizers attempt to eliminate errors like this, hence reporting it for good measure :)

@ ans_start_idx = sent.index(answer_text)
**sent:** The type of respiratory support for individuals with COVID‑19 related respirator

[2020-07-30 13:33] Krak91 commented on #11
also this is more bizare, it capitalized the word:

sent: === Anti-cytokine storm === Cytokine release syndrome (CRS) can be a complication in the later stages of severe COVID-19.
answer_text: Cytokine storm

[2020-07-30 14:23] patil-suraj commented on #11
Hi @Krak91 , thank you reporting these issues, I totally ignored these cases,

from above examples it seems that text should be cleaned/pre-processed before tokenizing.  For examples converting COVID‑19 to COVID 19, remove special characters etc.

Would be a good idea add a clean_fn argument where the user can supply a cleaning function which will be applied to the text before feeding it to the mo

[2020-07-30 14:26] patil-suraj commented on #11
Also if you use the prepend format model you won't face this problem, as the answer is simply pre-pended. I'll also train t5-base both single and multitask using prepend format, to deal with such issues

[2020-07-30 14:34] Krak91 commented on #11
Adding a cleaning function argument will let people know that there isn't one already in place - totally agree. One more thing that can take care of many cases is changing **ans_start_idx = sent.index(answer_text)** to **ans_start_idx = sent.lower().index(answer_text.lower())**.
However, regarding the last example it would help if we could identify why it capitalized the token following the dash I

[2020-07-30 14:36] ankitkr3 commented on #8
okay @patil-suraj will try and update you. thanks.

[2020-07-30 14:40] sebastien-mcrae commented on #11
Hi @patil-suraj,

**answer_text** is not necessarily a substring of **sent**.

Here is an example where the program throws a **Value Error**:

`from pipelines import pipeline`
`nlp = pipeline("question-generation", model="valhalla/t5-base-qg-hl")`
`nlp("I won't do it.")`

answer_text = "won't tun it"

[2020-07-30 15:41] patil-suraj commented on #11
@Krak91
To use the prepend format just provide the prepend model and specify the format using the `qg_format` argument. Right now there's only one prepend format model (t5-small), hope to add more soon. Here's how you can use it

[code]

[2020-07-30 21:57] khushgrover opened #16 "Regarding Fine-Tuning"
Hey! Awesome work!
I wanted to ask how have you actually fine tune on the SQuAD dataset? I couldn't find it here.
i was trying to understand the valhalla/t5-base-e2e-qg model.

[2020-07-31 09:47] prateekg commented on #10
Hey @patil-suraj, I tried the notebook and it's working fine. I'll now try implementing the cache for other data sources.

[2020-07-31 10:19] patil-suraj commented on #16
Thanks @khushgrover ,

For end-to-end qg, all questions for a single passage are joined using the `<sep>` token and given as a single example.

So if the passage is like
`Python is a programming language. Created by Guido van Rossum and first released in 1991.`

and the question are
[code]
Then example is prepared as

input text: `Python is a programming language. Created by Guido van Rossum and f

[2020-08-04 06:15] katirasole commented on #16
Thank you very much for your works. I read an article that was mentioned about  highlight format. Maybe the following article is that you've mentioned.
https://www.aclweb.org/anthology/D19-5821/

[2020-08-05 07:41] patil-suraj commented on #16
Thanks @katirasole . This was the paper I was looking for. Thank you very much !

[2020-08-05 07:44] chris4540 opened #17 "Relating the highlighting answer"
As my research in question generation, I think the most earliest paper mentioning highting is in this paper:
https://www.aclweb.org/anthology/D19-5821/

Chan, Y., & Fan, Y. (2019). A Recurrent BERT-based Model for Question Generation. MRQA@EMNLP.

[2020-08-06 09:20] SaakshiNarula commented on #16
Hey, thanks for the further info on Fine Tuning. So to clarify, if I am to train it on the Squad dataset, I just need to use the two lines you mentioned above followed by the run_qg(args_dict) section mentioned in fine tuning (i.e no need to use prepare.py here right?)
Because I tried that and am getting this error. not sure what needs to be modified..
![image](https://user-images.githubuserconten

[2020-08-06 10:01] patil-suraj commented on #16
Hi @SaakshiNarula ,
You'll need to prepare the data, before fine_tuning. `prepare_data.py` adds the new special tokens in the tokenizer and saves it, processes and caches the data according to the format and task you provided via args. You can specify the task using the `--task` argument (one of "qg", "qa", "e2e_qg", "multi", "ans_ext") and qg format using the `--qg_format` argument (one of "prepe

[2020-08-06 13:54] #17 closed

[2020-08-19 07:46] pradeep8500 opened #20 "Limited Questions generation from long text using "e2e-qg""
I am using ""e2e-qg"" model for question generation but it provides only limited questions (nearly 5 questions).
I want more questions from long text ,how can I get.

[2020-08-19 10:02] JoshSilverb commented on #11
I'm getting similar issues, but when I check to see what the error thrown at `ans_start_idx = sent.index(answer_text)` is, I get an answer_text that is a substring of a previous sentence in the text fed into the pipeline and not relevant to the sentence currently in sent.

[2020-08-19 14:25] patil-suraj commented on #20
Hi @pradeep8500 , how long is your text ? The max input length for T5 is 512 tokens, text longer than that is truncated.
You can try to break your long text into paragraphs and feed individual paragraphs into the model.

also you play with generate parameters
[code]
these are the default ones, you can pass these as keywords arguments. Be sure to pass all the arguments, because when you pass gen kw

[2020-08-19 14:26] patil-suraj commented on #11
hi @JoshSilverb , thank you for reporting this! Can post the code/example to reproduce this ?

[2020-08-19 16:13] JoshSilverb commented on #11
Hi, thanks for the quick response! I ran

    nlp = pipeline("question-generation")

    qna = nlp(summary)

where summary is the text in [summary_black_death.txt](https://github.com/patil-suraj/question_generation/files/5097667/summary_black_death.txt), and got the substring not found error. I had pipelines.py print the answer_text and corresponding sent and got the following output (cut some cau

[2020-08-20 09:31] pradeep8500 commented on #20
Hi @patil-suraj , Thanks  you very much  for responding ,
By default it accept only 256 tokens  but we can extended to 512 tokens right.
where can I pass these keyword arguments in  nlp= pipeline('e2e-qg') and also apply same technique to  "question-generation" pipeline getting questions answers for long text (nearly 5000 tokens)

[2020-08-20 14:28] patil-suraj commented on #11
Hi, @JoshSilverb yes, this is an issue. This answer extraction method doesn't seem to be effective when sentences are long.
I will try to fix this by the end of this week. For now instead of searching the answer in the same sentence, I will search in the whole text. This will fix it temporally.

Let me know if you have any other ideas.

[2020-08-20 14:33] patil-suraj commented on #20
@pradeep8500 , max input length is 512. 256 here is the max output length passed to the `.generate` method.

To pass these arguments, just do
[code]

`question-generation` pipeline doesn't accept these arguments. You should split your long text into smaller chunks and the pass each chunk to the pipeline.

Hope this answers your question.

[2020-08-20 14:58] pradeep8500 commented on #20
@patil-suraj , Thanks for sharing your valuable information.
Your code is so simple and wonderful .its helps a lot.

[2020-08-20 14:58] #20 closed

[2020-08-21 01:24] danielmoore19 commented on #11
Greetings! I have been digging into this as well and thought I'd toss my findings into the ring as well This is my first time, so please bear with me :)

I am printing the sents and answers before it starts the loop. Normally it prints one answer for a sent:

`['Language, also, far more dubiously, is meant to define the other--and, in this case, the other is refusing to be defined by a language th

[2020-08-21 06:11] vidyap-xgboost opened #21 "using question_generation directly from /transformers"
Hi,

I'm pretty new to using huggingface/transformers.

I have seen that this repo has an [API to play with](https://huggingface.co/valhalla/t5-small-qa-qg-hl) on huggingface website.

I'm not understanding how to use this directly from the library.

This is my code:

[code]

Now, running this code gives me following error:

[code]

How should I go about this?

[2020-08-21 06:45] patil-suraj commented on #21
Hi @vidyap-xgboost ,
`input_ids` should be a batch of `Tensor` and not `list`. pass the `return_tensor=pt` parameter to `tokenizer` and it will return `input_ids` as `Tensor`.

[code]

[2020-08-21 07:42] vidyap-xgboost commented on #21
Hello @patil-suraj , Thanks for the quick reply and the clarification.

When I run the following code:

[code]

I get this error:

[code]

Hence, it's not able to run `singletask_model.generate(input_ids=input_ids, attention_mask=attention_mask)`

[2020-08-21 07:49] vidyap-xgboost commented on #21
How to use `.decode` method to return the questions and answers? @patil-suraj

[2020-08-21 09:58] vidyap-xgboost opened #22 "ValueError: substring not found"
I ran the following code on colab:

[code]

and I get the following error:

[code]

I don't understand why this error comes when I gave proper text.

This also occurred with

[code]

[2020-08-22 01:49] judywxy opened #23 "AssertionErrors"
Doing the finetuning and keeping seeing the follow assertion errors

Epoch:   0%|                                                                                                                                      | 0/8 [00:00<?, ?it/s/opt/conda/lib/python3.6/site-packages/nlp/utils/py_utils.py:191: UserWarning: The given NumPy array is not writeable, and PyTorch does not support non-writeable te

[2020-08-24 05:00] vidyap-xgboost commented on #21
@psinha30 this looks really helpful! Thank you. I shall try this and update here.

[2020-08-24 05:33] psinha30 commented on #21
use this for more than 1 question:
tokens = model.generate(input_ids=input_ids, attention_mask=attention_mask,num_beams=6,num_return_sequences = 5)
out_ = []
for token in tokens:
    print(tokenizer.decode(token))
    out_.append(tokenizer.decode(token))
Note: num_beams >= num_return_sequences

[2020-08-24 05:55] vidyap-xgboost commented on #21
@psinha30 Thank you! This works and also, using `<hl>` solves the problem for texts it wasn't able to create questions. However, according to the examples given in the README file, we shouldn't be giving any highlights in the first place. I understand that @patil-suraj is working on resolving that.

Another question is, take this example:

[code]
Here the output gives an `'answer'` and a `'questio

[2020-08-24 05:59] vidyap-xgboost commented on #21
@patil-suraj @psinha30 There's one more issue I'm facing with the `text` and `hl`.

If I give more than 2 `hl` in a text, the questions generated are weird. Like below.

[code]

[2020-08-24 06:17] psinha30 commented on #21
Here is the code from pipelines where the whole process goes of getting the answer:
![Screenshot (229)](https://user-images.githubusercontent.com/44596136/91009784-ed112880-e5fe-11ea-9229-fc96b875e563.png)
It seems we could use only one hl tag.

[2020-08-24 10:01] vidyap-xgboost commented on #21
Thanks for pointing out. Will follow this @psinha30

[2020-08-24 10:05] vidyap-xgboost opened #24 "Questions generated don't make sense sometimes"
I ran the following code on Colab:

[code]

**Note:** I ran the second text.

Output is as follows:

[code]

They don't make sense. How to generate meaningful questions when we have only one sentence?

When I run first and third `text`, the outputs are as follows:

`text1`:
What is the cost of chicken Samosas?
What is the cost of Chicken Samosas?

`text3`:
What is served with? Chicken Samosas is s

[2020-08-24 10:22] vidyap-xgboost commented on #24
When I run the same code on other similar text like below:

[code]

It gives me good output, like below:

`text4`:
How much does Fresh Kale Salad cost?
What does Fresh Kale Salad cost?
What is Fresh Kale Salad cost?

`text4`:
What does Fresh Kale Salad have?
What does Fresh Kale Salad has?
What does Fresh Kale Salad have?

`text6`:
What is tossed with the Fresh Kale Salad?
What is tossed with the

[2020-08-24 14:22] patil-suraj commented on #24
Hi @vidyap-xgboost,

It's necessary to put spaces before and after special tokens so it gets treated as a single token, also the text should end with `</s>`.

With these changes I got following results.

[code]

[2020-08-24 14:25] patil-suraj commented on #21
@vidyap-xgboost ,
@psinha30 's answers are correct :+1:
Thank you for answering these questions !

[2020-08-24 14:27] patil-suraj commented on #23
Hi @judywxy , what is your transformers version,
It runs fine with version `3.0.0`

try `pip install -U transformers==3.0.0`

[2020-08-24 17:53] judywxy commented on #23
@patil-suraj Oh, Thanks a lot.
I have the following installed:

tokenizers             0.8.1rc1
torch                  1.6.0+cu101
torchfile              0.1.0
torchvision            0.7.0+cu101
tornado                6.0.3
tqdm                   4.32.1
traitlets              4.3.2
transformers           3.0.2
typing                 3.6.4
urllib3                1.24.2
visdom                 0.1.8.

[2020-08-24 17:55] patil-suraj commented on #23
Yes, I havey tried it with 3.0.2 yet

[2020-08-24 18:10] judywxy commented on #23
@patil-suraj Thanks for prompt reply. I will try with 3.0.0.
By the way, I trained a t5-small single task qg with transfermers' trainer
08/24/2020 06:24:24 - INFO - qgtrain -   ***** Eval results *****
08/24/2020 06:24:24 - INFO - qgtrain -     epoch = 9.999269539810081
08/24/2020 06:24:24 - INFO - qgtrain -     eval_loss = 1.6273178581207517
It looks nice as the following three metrics show
BLEU_

[2020-08-24 21:30] judywxy commented on #23
after changing transformers from 3.0.2 to 3.0.0 and setting "no_cuda": False, The Assertion errors appear again!

tokenizers             0.8.0rc4
torch                  1.6.0+cu101
torchfile              0.1.0
torchvision            0.7.0+cu101
tornado                6.0.3
tqdm                   4.32.1
traitlets              4.3.2
transformers           3.0.0
typing                 3.6.4
urllib3

[2020-08-25 05:06] vidyap-xgboost commented on #24
@patil-suraj Thank you for the clear explanation! This helps me understand `question-generation` in a better way.

I think I can close this issue now.

[2020-08-25 05:06] #24 closed

[2020-08-25 05:07] vidyap-xgboost commented on #21
Thank you to you both @patil-suraj @psinha30 for patiently answering all the questions I had. I will close this issue now as I'm able to use `question-generation` directly from `transformers` library.

[2020-08-25 05:07] #21 closed

[2020-08-25 06:57] judywxy commented on #23
@patil-suraj

The Assertion error is related to the following code in trainer's Trainer class

        # Our model outputs do not work with DataParallel, so forcing return tuple.
        if isinstance(model, nn.DataParallel):
            inputs["return_tuple"] = True

[2020-08-25 11:17] patil-suraj commented on #23
Hey @judywxy ,
could check again if your version is correct, because that change was added in `Trainer` after 3.0.0.

You can see the `Trainer` at v3.0.0 [here](return_tuple)

[2020-08-25 17:13] judywxy commented on #23
@patil-suraj
here are what installed. The transformers is in version 3.0.0
tokenizers 0.8.0rc4
torch 1.6.0+cu101
torchfile 0.1.0
torchvision 0.7.0+cu101
tornado 6.0.3
tqdm 4.32.1
traitlets 4.3.2
transformers 3.0.0
typing 3.6.4
urllib3 1.24.2
visdom 0.1.8.8
wandb 0.9.5

[2020-08-26 19:08] danielmoore19 commented on #22
For the time being:

`
if answer_text in sent:
    ans_start_idx = sent.index(answer_text)
else:
    continue
`

will allow you to bypass the ValueError by skipping mismatched answer/sent pairs. in a test, it did continue to match answer/sent pairs beyond where I was getting an error. it had been throwing an error after (3) matches, and with the if statement it completed the task with a total of (

[2020-08-26 23:09] danielmoore19 opened #25 "Length limitations"
I am experiencing a limitation in returned answers:

The full text can be found for testing here: [news.txt](https://raw.githubusercontent.com/danielmoore19/Automatic-Question-Generator/master/AutomaticQuestionGenerator/DB/news.txt)

I have experienced this on multiple texts, and it seems to stop generating answers after about 16 or 17 (in the range of 2200-2500 characters of the complete text).

[2020-08-27 11:06] vidyap-xgboost opened #26 "End-to-End Question Generation directly from /trasnformers library"
I'm trying to generate questions using `"valhalla/t5-base-e2e-qg"` End-to-End model directly from the `/transformers` library.

My code:

[code]
This is the output I get:

Where did I go wrong? I thought I just had to follow the same procedure which I did for `single-task qg` model.

[2020-08-30 07:54] krrishdholakia opened #27 "Generate exact number of questions"
Hi,

Great work on the library 🎉, it's super useful.

Is it possible to generate a specific number of questions ? I know we have 'num_return_sequences' but i've seen that despite specifying specifying a high number of return sequences:

`model_args = {
            "max_length": 256,
            "num_beams": 12,
            "length_penalty": 1.5,
            "no_repeat_ngram_size": 3,
            "

[2020-08-30 07:57] krrishdholakia opened #28 "Speed of model"
Hi,

I was wondering if it was possible to do some fine-tuning to make the model run faster ?

[2020-08-30 10:55] krrishdholakia opened #29 "Deploy model"
Hi,

I'm trying to deploy this model via torch serve. But when i try and save the tokenizer:

`tokenizer = AutoTokenizer.from_pretrained("valhalla/t5-base-e2e-qg")
tokenizer.save_pretrained('/dummy_location')
`

it does not save a vocab.txt, instead saving:

`
'/t5_model/spiece.model',
 '/t5_model/special_tokens_map.json',
 '/t5_model/added_tokens.json'
'/tokenizer_config.json'
`

How can i get th

[2020-08-31 06:59] #16 closed

[2020-08-31 07:00] khushgrover commented on #16
Closed

[2020-08-31 08:10] psinha30 commented on #27
Can you provide the context? because it gives me exactly the same number of questions I ask for.

[2020-09-02 11:29] krrishdholakia commented on #29
hi @patil-suraj how can i deploy this model? i'd like to deploy to an endpoint and have a live site connected to it.

[2020-09-02 11:30] krrishdholakia commented on #27
sure -

i'm using the t5 model from the nlp pipeline e2e

and i run the nlp argument given above: nlp(text5, model_args)

any additional context i can give ?

[2020-09-03 10:21] Krak91 opened #30 "AssertionError during question generation."
Hello @patil-suraj,

I get the following assertion error:

Code:
[code]

Error:
Traceback (most recent call last):
  File "C:\Program Files\JetBrains\PyCharm Community Edition 2020.2\plugins\python-ce\helpers\pydev\pydevd.py", line 1448, in _exec
    pydev_imports.execfile(file, globals, locals)  # execute the script
  File "C:\Program Files\JetBrains\PyCharm Community Edition 2020.2\plugins\pytho

[2020-09-04 16:48] vidyap-xgboost commented on #26
Hi. Any comments on this? @patil-suraj

[2020-09-06 06:45] patil-suraj commented on #29
hi @krrishdholakia ,

You can just use init the `pipline` on the server and wrap it behing an API endpoint. Let's say it's a simple flask app then a simple way could be

[code]

Is there any specific reason for not using the `pipeline` object ?

[2020-09-06 06:47] patil-suraj commented on #30
hi @Krak91 ,

I tried this and it worked for me
[code]

are you still facing this issue ?

[2020-09-06 06:49] patil-suraj commented on #28
Hey @krrishdholakia , not sure how fine-tuning will make the models run faster.
I'm trying to leverage onnxruntime to make the inference faster.

[2020-09-06 06:55] patil-suraj commented on #27
thanks @krrishdholakia !

Here `num_return_sequences` can't be used because the number questions generated will depend on the number of answers extracted. If the ans extraction model gives only two answer then only two questions will be generated.

`num_return_sequences` is used with beam search or top-k top-p sampling in the `.generate` method. With beam search, in most of the cases it returns th

[2020-09-06 07:07] patil-suraj commented on #26
Hi @vidyap-xgboost
For e2e models, we need different `generate` parameters and the text needs to be prefixed with `generate questions: `.
Also ` </s>` should be added at the end  for all of these T5 models.

you can try this
[code]

[2020-09-06 07:08] patil-suraj commented on #25
Hi @danielmoore19 ,
Yes, I've seen this too. The current answer extraction models are not perfect. I'm trying out other ways and will let you no if I get any results.

[2020-09-06 07:32] krrishdholakia commented on #27
hey @patil-suraj,

they mention an interesting approach using top-k sampling in this article - https://medium.com/huggingface/how-to-build-a-state-of-the-art-conversational-ai-with-transfer-learning-2d818ac26313

thoughts on using this ?

[2020-09-06 07:35] krrishdholakia commented on #29
hey @patil-suraj ,

was looking for a way which would allow me to do some more custom-stuff in the future (eg. multiple-choice question-answer generation on long documents etc.)

[2020-09-06 07:38] patil-suraj commented on #29
In that case have a look at this issue #21, let me know if you still have doubts.

[2020-09-06 07:40] patil-suraj commented on #29
Also for T5 there is no `vocab.txt` since it uses sentencepiece, and when you call `AutoTokenizer.from_pretrained("valhalla/t5-base-e2e-qg")` the tokenizer is automatically cached, you might not need to save it separately.

[2020-09-06 07:42] patil-suraj commented on #29
also note that the pipeline code should easy to change. Have look at the `QGPipeline` class, you can just take it and modify.

[2020-09-06 07:44] patil-suraj commented on #27
I have tried sampling but beam search results are better than sampling for this task. Feel free to give it try though!

[2020-09-06 09:43] danielmoore19 commented on #25
No problem. In the meantime, I wrote a little code to break larger texts along carriage returns with splitlines(). Each “paragraph” resets whatever is happening like it is starting at the beginning. The largest thing I’ve entered so far is a 15k character text from a novel.

Daniel Moore
Sent from my iPhone
“Creativity is a wild mind and a disciplined eye.” - Dorothy Parker

[2020-09-06 18:15] Krak91 commented on #30
Yes. The models in general produce very good questions, it's actually very impressive but this specific text brought up this error. I can't figure out what's causing it.. I've also made sure the text is in utf-8.

[2020-09-12 10:33] krrishdholakia opened #31 "Answer Extraction"
Hi @patil-suraj ,

Using the E2E QG model, curious how I can extract the answer span the question was generated for, in this model ?

[2020-09-12 11:36] krrishdholakia opened #32 "Continuous Question Generation"
Hi @patil-suraj ,

Would it be possible to generate new questions for a given document, given previous questions/answers for the same ? I've read some papers in the area but not sure i understand how the preceding qa pairs could help generate newer qa pairs.

[2020-09-13 09:44] krrishdholakia commented on #10
hi @patil-suraj,

if the dataset is in the nlp library, how can i run prepare_data on that ? / how is that diff. from the process i might already need to follow ?

also, a bit unclear about the structure the data must have to run the prepare_data for that ? the LearningQ dataset gives me a .txt file which contains questions, and another .txt file which contains the supporting paragraphs, how could

[2020-09-14 06:45] Deepayan137 opened #33 "Unable to batch input data while finetuning"
Hello,

I am trying to finetune the t5 model (e2e_qg) on the squad dataset. I have followed the instructions mentioned in the ReadME file. I had initially prepared the data using `prepare_data.py`. I checked the dataset manually. It seems to have all the keys i.e 'source_ids', 'target_ids' and 'attention mask'. However, while running the script `run_qg.py`, I get the below error.
Can you please he

[2020-09-14 12:06] patil-suraj commented on #33
Hi @Deepayan137
What is your `nlp` version ? I've only tested it with `0.2.0 `.
Also I would make sure if I passed the correct path to `run_qg`.

And I think I've made data processing  unnecessarily complex.

[2020-09-14 12:11] patil-suraj commented on #10
Hey @krrishdholakia ,

I've added custom dataset scripts to process squad data through `nlp`, natural_questions won't work out of the box.

I'll see if I can add a colab to show how to work with custom datasets. or post a snippet here

[2020-09-14 12:13] patil-suraj commented on #31
`e2e-qg` models are fine-tuned to generate questions without answer supervision, so they return answer spans.

One way you could try is to pass these questions and the context to the question answering models and use the returned answer  as answer spans

[2020-09-14 12:15] patil-suraj commented on #32
Would be interesting to try, I think may be this will help in a auto-regressive (a-la GPT-2 and friends) setting rather than seq2seq.
Could you share the papers ?

[2020-09-14 12:26] patil-suraj commented on #32
Also, looks like you're playing around a lot with these models.
Would love to know if you have something cool to share :)

And do let me know if you have any other feedback or want to suggest some improvements.

[2020-09-15 05:23] Deepayan137 commented on #33
Hi Suraj,

My NLP version is 0.4.0. I would also like to add that your code runs
perfectly well on CPU. It's when I switch to GPU that I am facing this
error.

On Mon, 14 Sep 2020 at 17:37, Suraj Patil <notifications@github.com> wrote:

[2020-09-17 07:02] krrishdholakia commented on #31
@patil-suraj,

how would i pass both the question + context back to the model ?

[2020-09-17 07:04] krrishdholakia commented on #32
hey @patil-suraj ,

here's the paper i was referring to - https://arxiv.org/abs/2004.14652
seen some research in the conversational qa area

[2020-09-17 08:25] krrishdholakia commented on #10
@patil-suraj ,

thanks so much -  here's the dataset i'm specifically trying to finetune for: https://github.com/AngusGLChen/LearningQ

any help / guidance would be appreciated!

[2020-09-22 12:19] ankitkr3 commented on #22
Hi @patil-suraj is this issue fixed now ?

[2020-09-23 19:47] danielmoore19 commented on #22
i would suggest using the if statement to work around. the issue is that sometimes the answer order gets out of place, the answer span and answer are not exact (one is Capital and the other is capital), or it actually creates an answer that does not appear the text. one of these is an issue with ordering what comes out of the I/O, one can be fixed by adding a .lower() to sent.index() and answer_te

[2020-09-24 11:04] paniabhisek opened #36 "model.generate on tensorflow converted model is not working"
### Conversion
**model**: https://huggingface.co/valhalla/t5-small-e2e-qg
**Script**: https://github.com/huggingface/transformers/blob/master/src/transformers/convert_pytorch_checkpoint_to_tf2.py

Instead of `tf_model.save_weights(tf_dump_path, save_format="h5")`, I used `tf_model.save_pretrained`.

When I used the following script for inference:

    from transformers import T5Tokenizer, TFT5ForC

[2020-09-25 09:49] paniabhisek commented on #36
Without intermediate conversion using [transformer-script](https://github.com/huggingface/transformers/blob/master/src/transformers/convert_pytorch_checkpoint_to_tf2.py), I'm able to get result using the following method:

    model = TFT5ForConditionalGeneration.from_pretrained('valhalla/t5-small-e2e-qg', from_pt=True)

Don't know if there is bug in conversion script. Closing for now.

[2020-09-25 09:49] #36 closed

[2020-09-26 14:12] patil-suraj commented on #33
Hey, @Deepayan137  sorry for responding late. Were you able to resolve this ?

[2020-09-26 14:13] patil-suraj commented on #32
Cool, I'll take look. Thanks for the share

[2020-09-26 14:15] patil-suraj commented on #31
Hi @krrishdholakia
you could use the multitask pipeline for this. Once you generate the questions, you can pass them to the pipeline using

[code]

You'll need to iterate over the questions as the pipeline doesn't support batching yet

[2020-09-26 16:55] Deepayan137 commented on #33
Hi Suraj,

Yeah I was able to resolve the issue. I had to write my own trainer code.

On Sat, 26 Sep, 2020, 7:42 PM Suraj Patil, <notifications@github.com> wrote:

[2020-09-30 07:53] Krak91 opened #37 "Multitask pipeline question"
Hi @patil-suraj,
Thank you for this amazing project.
My question regarding the **multitask-qa-qg** pipeline is whether it simply provides the extra functionality of Question-Answering on demand, or if it actually compares a Question-Answer-generated answer (using the generated question) with the answer-like span that was produced to help generate the question, as part of the pipeline.

If the latt

[2020-10-09 15:05] Krak91 commented on #30
Hi, @patil-suraj
Any update on this?

[2020-10-17 16:21] nabinkhadka opened #38 "Answers instead of question coming from trained model"
I am using [this](https://colab.research.google.com/github/patil-suraj/exploring-T5/blob/master/T5_on_TPU.ipynb)  notebook to train model
I have following dataset which is different from SQUAD used in the google colab:

[code]

Because of different columns, I have change the function from the colab notebook. It looks like this:

[code]

When I load the model generated and see the output, I get ans

[2020-10-17 16:21] nabinkhadka commented on #38
This is my training arguments

[code]

[2020-10-19 04:45] nabinkhadka opened #39 "training_script in args_dict?"
What is `training_script` here?
[code]

[2020-10-19 05:23] patil-suraj commented on #39
That argument  is needed for the `xla_spawn` [script](https://github.com/huggingface/transformers/blob/master/examples/xla_spawn.py) to launch training on TPU. It loads the training script and launches it on the tpu cores.

I I'am not wrong, these `args` are not used in this project

[2020-10-19 11:32] nabinkhadka commented on #39
@patil-suraj so you mean that it does not play any role in training model? Even in the colab included with this repo?

[2020-10-19 15:19] nabinkhadka opened #40 "Questions not generating in a trained model"
I am using [this](https://colab.research.google.com/github/patil-suraj/exploring-T5/blob/master/T5_on_TPU.ipynb)  notebook to train model
I have following dataset which is different from SQUAD used in the google colab:

[code]

Because of different columns, I have change the function from the colab notebook. It looks like this:

[code]

When I load the model generated and see the output, I get ans

[2020-10-19 15:51] nabinkhadka opened #41 "Does this support only SQUAD dataset?"
I was wondering if I can simply give any dataset. It looks like it needs `questions`, `answer` and `context`. So I suppose the following dataset for example is sufficient to do training?

questions | answer | context
q1              | a1         | context 1
q2              | a2         | context 2
q3              | a3         | context 3
q4              | a4         | context 4

This way can I tra

[2020-10-22 04:38] jhyuklee opened #42 "Multiple answers are highlighted in pipelines.py"
Hi, thank you for creating this project.

I was using the `pipelines.py` and found out that multiple answers are highlighted in the code below:

https://github.com/patil-suraj/question_generation/blob/c770a8694c0b6b2344fcd88e4cacd71f4b1ff615/pipelines.py#L136-L145

If there are more than one extracted answers in each sentence (e.g. [Cochran, John Stamos]), this code produces something like

`John

[2020-10-22 05:43] WadoodAbdul commented on #41
Yes, any data set can be used to train the models.

If you input the data in squad format, and change the directory of the train and valid split generator  in squad_multitask.py, you'll be good to go.

[2020-10-22 07:32] patil-suraj commented on #42
hi @jhyuklee
Great catch! Thank you for pointing this out. That is indeed a bug.
line 136, `sent = sents[i]` should be inside in the inner for loop, so the `sent` wont' contain previous highlighted answers.

[2020-10-22 08:44] nabinkhadka commented on #41
@WadoodAbdul have you tried it? Were you able to load the model correctly? If so can you give me the snippet please?

Thank you

[2020-10-22 14:14] patil-suraj commented on #41
Thanks for answering the issue @WadoodAbdul .

For now `squad_multitask` is tied to SQuAD dataset, but it's possible to use your own QA dataset.

If you don't want to use that script then you can use a custom dataset as follows.

1. Process your dataset according to the format for the model (described in readme). You can use the code from `prepare_data.py` script
2. Make sure the dataset returns `

[2020-11-04 11:24] ankitkr3 opened #45 "model confidence score"
hi @patil-suraj

currently, i am working with the **"valhalla/t5-base-qa-qg-hl"** for generating answers against questions.
I have few question here:
**How can I print the confidence with which the answer is predicted?**
**What is the maximum length of passage I can pass for the answers ?**

[2020-11-05 07:18] Neuronys commented on #1
Hi @patil-suraj
Thanks a lot for sharing this code. It's awesome.
As mT5 has been released a few weeks ago by Google and as Huggingface is working to add it into their library, do you plan to upgrade your repo with multi-lingual support ?
Cheers
Philippe

[2020-11-06 09:07] nitishkmr005 commented on #11
Hi Suraj,

Let me know if this issue is fixed?

[2020-11-14 11:41] overnightJustifier opened #46 "Using Different Transformer Models"
Hi @patil-suraj,

I am trying to implement this solution to another languages but T5 does not support lots of them. Is there any way to use for example BERT to implement same solution? Or what can i do the transform this implementation to using BERT.

Thank you very much!

[2020-11-17 17:20] patil-suraj commented on #1
@hunkim , @ghost, @zolekode , @epetros, overnightJustifier

mT5 has just been added to transformers, so now you can use it to fine-tune on your own language if mT5 supports it.
See https://discuss.huggingface.co/t/mt5-t5v1-1-fine-tuning-results/2098
I haven't tested this codebase against transformers master so things might break.

It would be awesome if you guys could send PR to add support for mT

[2020-11-19 19:33] ontocord commented on #40
@nabinkhadka did you figure out what was happening?

[2020-11-19 19:36] ontocord commented on #10
@krrishdholakia and @patil-suraj has support for the LearningQ dataset been added?

[2020-11-19 19:51] ontocord opened #47 "Trained e2e T5 model doesn't quite match you e2e model"
Dear @patil-suraj!

This is a wonderul package. Thank you creating it.

I've tried to train a t5 e2e model using your script, but changing a few hyperparameters due to cuda memory issues on colab. I'm seeing good results, but not quite the same as your e2e model. I'm wondering if I need to train longer or change other hyper parmeters.

Here is a colab for the training: https://colab.research.googl

[2020-11-21 14:32] okanvk opened #48 "Key error during the run_qg script"
<img width="1447" alt="Screen Shot 2020-11-21 at 17 20 28" src="https://user-images.githubusercontent.com/26678689/99879679-6086fe00-2c1f-11eb-9c6e-c62a8be1ce16.png">

I'm getting an error when try to finetune model, is there anyone knows the solution?

[2020-11-25 13:41] nabinkhadka commented on #40
Sorry no. Did you try yourself? Or are you planning to start? @ontocord ?

[2020-11-26 12:06] ontocord commented on #40
Hi @nabinkhadka I tried training with pytorch and not TPU. It seems to work but the answers aren't as diverse as the model created by @patil-suraj.

See https://github.com/patil-suraj/question_generation/issues/47

[2020-11-28 06:56] luan123z opened #49 "Increase question count"
This works great but it only returns a maximum of 4 questions?

[2020-11-30 15:23] Ki6an commented on #46
this [paper](https://www.aclweb.org/anthology/D19-5821.pdf) explains how to use the BERT for QG. But I haven't found any code implementing this method.

[2020-12-01 10:04] sampreethachitagubbi15 opened #50 "How to start?"
hey it would be of great help if you would guide us ...in understanding your project ......as the details mentioned in the readme file is bit hard to undertsand.

[2020-12-03 04:09] smeteor opened #51 "Does it support other language?"
Does it support other language please?
if not, how can I use it in other language such as France, German etc

[2020-12-04 08:29] Ki6an opened #52 "ValueError: You have to specify either decoder_input_ids or decoder_inputs_embeds"
I'm trying to convert the T5 model to `torchscript ` [model](https://huggingface.co/transformers/torchscript.html#torchscript). While I'm doing that I'm running into this error
**You have to specify either decoder_input_ids or decoder_inputs_embed**

here's the code :

[code]

got this error

[code]
The same issue occurs when converting the model to `.oonx` model.
how to convert the T5 model to `t

[2020-12-06 16:51] Ki6an commented on #52
If someone has the same issue,
send in the parameters as a tuple to trace(). where `decoder_input_ids` is the tokenized ids of the question.
[code]
The same holds good for converting the model to the .onnx

[2020-12-06 16:51] #52 closed

[2020-12-07 21:39] Xyde opened #53 "Couldn't instantiate the backend tokenizer from one of: (1) a `tokenizers` library serialization file, (2) a slow tokenizer instance to convert or (3) an equivalent slow tokenizer class to instantiate and convert. You need to have sentencepiece installed to convert a slow tokenizer to a fast one."
Hello, I used this model to generate question and it worked until 2-3 days ago:
https://huggingface.co/valhalla/t5-base-qg-hl

Now it returns the error message:
Couldn't instantiate the backend tokenizer from one of: (1) a `tokenizers` library serialization file, (2) a slow tokenizer instance to convert or (3) an equivalent slow tokenizer class to instantiate and convert. You need to have sentence

[2020-12-08 10:12] hariesramdhani commented on #41
Hi patil-suraj, thank you for the nice repo. Is it possible for you to show us how to fine tune using custom dataset,
I've tried the changing link in squad_multitask.py approach but somehow it keeps failing and I had no luck with the direct loading from the nlp.load_dataset in prepare_data.py

The followings are my datasets:
- https://raw.githubusercontent.com/hariesramdhani/test_repo/main/dev-v1.

[2020-12-09 05:16] ankitkr3 opened #54 "stuck at validation sanity check"
hi @patil-suraj @mrm8488

While training for text generation it is getting stucked at **Validation sanity check: 0it [00:00, ?it/s]**
I am not sure how to skip this to training directly I am using jupyter notebook on windows10.

[2020-12-10 05:45] xhw205 opened #55 "Something wrong in the trainer.py?"
the keyword argument "prediction_loss_only" doesn't exist？
TypeError: __init__() got an unexpected keyword argument 'prediction_loss_only'

[2020-12-11 14:29] #53 closed

[2020-12-24 03:01] QiuSYang opened #56 "Sentences with no answers are also extracted"
hi, @patil-suraj:
Why is it that sentences with no answers are also extracted when doing the answer generation task?
For example, the input text is "hi, json."
output result is "[{'answer': 'hi, json', 'question': 'What is the name of the name of the name of the name of the name of the name of the name of the name of the name of the name'}]"

[2020-12-24 07:35] yushuyang commented on #51
use mT5 can support other language

[2021-01-04 10:03] HimanshuKardam17 opened #57 "Can't it be possible to use text file instead of passing text in variables."
Hii @patil-suraj ,
would anyone tell me ,how to create input text file for these models,so we dont need to pass text separately in different variables.Is it possible to do so??

And SQuad dataset is a huge dataset ,im not getting why this model is not generating many questions at time bcz while using Squad we can generate thousands of questions at a time,why am i not able to see those questions if

[2021-01-04 10:03] #57 closed

[2021-01-04 10:09] HimanshuKardam17 opened #58 "Cant it be possible to use text file instead of using text assigning in variable."
Hii @patil-suraj .
would  anyone tell me how can i use text file containing input passages instead of passing paragraphs separately in variables.Is it possible to do so??

And also Im not getting where is Squad dataset using in this model as using squad dataset it generates thousands of questions at a time but here we are taking text ,then where the use of Squad?

[2021-01-04 10:10] HimanshuKardam17 opened #59 "Cant it be possible to use text file instead of text assigning in variables!"
Hii @patil-suraj .
would  anyone tell me how can i use text file containing input passages instead of passing paragraphs separately in variables.Is it possible to do so??

And also Im not getting where is Squad dataset using in this model as using squad dataset it generates thousands of questions at a time but here we are taking text ,then where the use of Squad?

[2021-01-04 10:11] #59 closed

[2021-01-04 11:59] darshanapdas commented on #8
Hi,

I'm also attempting to train this model for the natural questions dataset. How do you think we need to train the answer extraction model for longer sentences. Do we consider the long-answer in the NQ dataset as both context and answer? If that is the case how do we then input sentences to the model? as in should we give the whole paragraph or combinations of sentences?

TLDR: how should one a

[2021-01-12 10:18] priyanksonis opened #60 "issue when finetuning with bart for end-to-end question generation ('bart-base' not found)"
When we run command for preparing data for e2e qg:

`python3 prepare_data.py --task e2e_qg --valid_for_qg_only --model_type bart --dataset_path data/squad_multitask/ --qg_format highlight_qg_format --max_source_length 512 --max_target_length 32 --train_file_name train_data_e2e_qg_bart.pt --valid_file_name valid_data_e2e_qg_bart.pt`

it fails with::

01/12/2021 03:17:06 - INFO - transformers.tokeni

[2021-01-12 14:33] #60 closed

[2021-01-14 07:07] perfectatdat opened #62 "Unable to install pipelines on Windows machine"
I get the following error when installing pipelines.

ImportError: sh 1.11 is currently only supported on linux and osx. please install pbs 0.110 (http://pypi.python.org/pypi/pbs) for windows support.

I have installed pbs 0.110, still getting the same error.

[2021-01-14 08:00] perfectatdat commented on #62
Sorry wrong issue. There was no need for installation.

[2021-01-14 08:00] #62 closed

[2021-01-20 14:11] anmol4210 opened #63 "Unable to train ProphetNet"
Hi,
I'm trying to train e2e QG using microsoft prophetnet. I have changed tokenizer and model. My training runs fine for fist 22 steps but then all of a sudden it stops giving the error 'RuntimeError: CUDA error: device-side assert triggered'

model = ProphetNetForConditionalGeneration.from_pretrained('microsoft/prophetnet-large-uncased-squad-qg')
tokenizer = ProphetNetTokenizer.from_pretrained('m

[2021-01-22 11:16] anmol4210 opened #64 "Multiple Choice Question Generation"
Hi
I'm trying to train T5 for Multiple Choice Question Generation. Can anyone please guide me about the train data format. Any help would be helpful

Thanks in advance

[2021-01-27 02:28] nomoreoneday commented on #27
Hi @patil-suraj, great work! May I ask how do you control the number of answers extracted? My project came up with a different number of answers for different texts.

[2021-01-28 05:14] nomoreoneday opened #66 "The number of answers extracted"
Great works!

I'm wondering how did you control the number of answers extracted when doing multitask-qa-qg tasks?
`
def _extract_answers(self,context):

        sents,inputs = self._prepare_inputs_for_ans_extraction(context)
        inputs = self._tokenize(inputs,padding = True,truncation = True) #encoding
        #print("inputs after encoding:",inputs)

        outs = self.ans_model.generate(

[2021-02-04 05:22] egorvkid opened #67 "Support for russian language"
Hello! How can i generate questions for russian language?

[2021-02-04 14:41] MonsKim999 opened #68 "Fine-tuning for other dataset."
Thanks for opening great codes of question generation.
I would like to train the question generation model with other QA dataset.

I have some question as follows:

1. what is the difference between question generation and end-to-end question generation in your repo?
2. In my case, training the question generation model using different datasets requires a new set of input forms where additional po

[2021-02-04 23:12] boscorona commented on #22
@danielmoore19 where were you able to add the `if answer_text in sent: ans_start_idx = sent.index(answer_text) else: continue` workaround?

I tried replacing `ans_start_idx = sent.index(answer_text)` with `if answer_text in sent: ans_start_idx = sent.index(answer_text) else: continue`

[2021-02-07 06:13] nicken commented on #53
@Xyde
Can you tall me what happen and how to solve it? I get same probelm now

[2021-02-07 07:49] nicken commented on #53
I slove it to `pip install transformers==3.0.0`

[2021-02-08 11:10] saichandrapandraju opened #69 "Procedure for pre-training"
Hi,
Can anyone explain how to pre-train a t5 for Question_Generation ? Like what are the features and labels for pre-training ?

[2021-02-08 17:22] varshith321 commented on #23
Is this issue resolved?. I am still facing issues while training.

[2021-02-08 23:51] daisylab commented on #53
Yes. I had same problem and I found that I used transformers 4.2. The solution was just same as @nicken  described.

It will be helpful if we get an update code for transformers 4.2. Is there a plan for this?

[2021-02-09 08:11] shrivastavapankajj opened #70 "Prediction with model is very slow"
Hi ,
I have used the model in a flask app  hosted on Ubuntu with 2 GB RAM . The code works bu the prediction is slow and takes around 12 seconds .  The same prediction takes less than a second in Colab . Please see the comparison .
![image](https://user-images.githubusercontent.com/35457435/107334221-71d3fe00-6adc-11eb-8a09-917445c1ea3e.png)

on flask it takes
![image](https://user-images.githubus

[2021-02-09 12:41] patil-suraj commented on #69
Hi @saichandrapandraju

If you want to pre-train T5 on question generation then it will be similar to the fine-tuning process. The context and answer (if you have it) will be the input text and the question will be the label.

You can decide the format for input text i.e whether you want to highlight the answer special tokens or just simply prepend it to the context.

Although I'm a bit curious, w

[2021-02-09 13:06] patil-suraj commented on #70
Hi @shrivastavapankajj

Could you tell which pipeline (single task, multi-task) and model (small, base) are you using? Thanks.

[2021-02-09 13:42] shrivastavapankajj commented on #70
Hi Suraj ,

I used

from pipelines import pipeline
nlp = pipeline("question-generation")
text =
"Python is an interpreted, high-level, general-purpose programming
language. Created by Guido van Rossum \
and first released in 1991, Python's design philosophy emphasizes code \
readability with its notable use of significant whitespace."
import time
start = time.time()
print("hello-NLP")
print(nlp(st

[2021-02-10 09:47] patil-suraj commented on #70
The pipelines by default use small models, so if you want more speed-up I can think of the following approaches

1. Use the multi-task pipeline, it uses a single model to do both and extraction and qg so will save memory.
2. Use even smaller/distilled models. I've trained and uploaded few distilled models on the Hugging Face hub. https://huggingface.co/models?filter=distilt5-qg
3.  Use `onnx-runti

[2021-02-10 09:53] shrivastavapankajj commented on #70
Thanks for the tip!

On Wed 10 Feb, 2021, 3:17 PM Suraj Patil, <notifications@github.com> wrote:

[2021-02-11 02:29] saichandrapandraju commented on #69
Thanks @patil-suraj .

Also, you're using another model for extracting answers for each sentence in passage. I used Spacy to extract entities and generated question for each entity.

Your approach is mostly focused on creating 'one word' answers and respective questions. Any thoughts of creating generic questions which depend on entire passage to answer ?

I wanted to explore pre-training part and

[2021-02-12 14:42] Jean-Eudes-Rouffiac commented on #55
Hello,

If you are using colab : ! pip install -U transformers==3.0.0

[2021-02-13 03:09] daisylab commented on #23
I've got the same problem recently. My workaround was using only one GPU.

[code]

[2021-02-15 04:35] aniketgambhire opened #71 "Training QA on SQuADv2.0 Dataset"
Hi @patil-suraj,
When I tried to train question answer generation model of type multi using T5 model with SQuADv2.0 dataset got below error -
[code]

I also updated train-validation file path in squad_multitask.py like below -
[code]

Help me to resolve this issue. Thank You..!!!

[2021-02-23 06:01] HenryJunW commented on #30
Got the same problem, 'AssertionError: You should supply an encoding or a list of encodings to this method. An encoding is the output of one the encoding methods of the tokenizer, i.e. __call__/encode_plus/batch_encode_plus.'

Any work around? Thanks!

[2021-02-23 06:10] HenryJunW commented on #53
I got a error while evaluate valhalla/t5-base-qg-hl model using 'nlp = pipeline("question-generation", model="valhalla/t5-base-qg-hl", ans_model='valhalla/t5-base-qa-qg-hl', qg_format="highlight")'.
**'AssertionError: You should supply an encoding or a list of encodings to this method. An encoding is the output of one the encoding methods of the tokenizer, i.e. __call__/encode_plus/batch_encode_pl

[2021-03-06 08:38] mdhasanai commented on #67
By using MT5Tokenizer and MT5Model, you can generate question for other language.

[2021-03-11 20:00] HenryJunW opened #73 "Answer Aware Question Generation with Pretrained Model"
Fantastic job!

I am wondering how to generate questions with answer given using the pretrained model (either prepend or highlight), i.e,
[code]

or
[code]

From my point of view, I need to disable the answers generation since I already have the answer given from the sentence. I tried to comment the line https://github.com/patil-suraj/question_generation/blob/bffa0a51e3ecba3922cafd13f4245211356773

[2021-03-12 12:51] bigabig opened #74 "How to cite?"
Is there any paper related to this work?

[2021-03-12 13:18] patil-suraj commented on #74
Hi @bigabig

There is no paper. You could cite repo as
[code]

[2021-03-13 21:09] KristiyanVachev opened #75 "Evaluating the QG models"
Hi! I've started working on my own QG algorithm for my Masters thesis and I'm trying to learn how to evaluate a model.

Since you've posted your metrics, I've been trying to replicate them, but I am having some troubles. Can you tell me what was your approach?

I am using [nlg-eval](https://github.com/Maluuba/nlg-eval) as well and looking at your [references.txt](https://github.com/patil-suraj/que

[2021-03-18 15:31] DimIsaev commented on #73
@HenryJunW  you search solution?

[2021-03-18 15:32] DimIsaev commented on #67
@mdhasanai

can you give an example code?

[2021-03-18 15:33] DimIsaev commented on #51
@yushuyang

can you give an example code?

[2021-03-18 15:40] mdhasanai commented on #67
Use T5Tokenizer when you preprocess the data in prepare_data.py
For example, use this
[code]

instead of
[code]

Replace all the T5Tokenizer/T5Model with MT5Tokenizer//T5Model

In this way, you can train and evaluate for Non-English dataset.
To know more about the MT5 model, follow this link. https://huggingface.co/transformers/model_doc/mt5.html

[2021-03-18 19:47] DimIsaev commented on #67
@mdhasanai

thanks.
model  and Tokinezir all good

but how  prepare  datasets ?
what data structure should be in the directory where "dev" and "train" are located?

[2021-03-19 23:04] HenryJunW commented on #73
Goo point! The thing is that sometimes, the existing model is not able to generate the questions with the answer I want, since the answer is normally extracted from the text span.

[2021-03-23 01:51] #69 closed

[2021-03-25 16:41] #74 closed

[2021-03-25 16:44] bigabig commented on #49
Hey, did you find a way to control the number of generated questions?

[2021-03-29 09:38] zhoudoufu opened #76 "Compare with Bart and T5"
Hi, @patil-suraj
Thanks for your great work. I
 found that your application includes bart as well as T5, But I haven't found any evaluation result of Bart.
Is it because T5 has best accuracy?

[2021-04-16 07:47] violetcodes opened #77 "Rich man's QG pipeline"
in `pipelines.py`, `QGPipeline` class is refered as Poor man's pipeline. I gues because it handles one text at a time.
can you implement an inference pipeline for batch of texts. I am doing this on ~5000 texts, and its taking a long time (~10 s on each).

[2021-04-19 03:08] zhoudoufu commented on #1
Hi @patil-suraj, I managed to finetune with MT5 on Chinese based on your script which gives valid output, but I still wondering where is the ceiling of the performance. I suppose mT5 won't surpass T5, my loss is around 0.2, how much is your best performance with finetuned mdl with T5 ?

[2021-04-19 03:19] hunkim commented on #1
@patil-suraj wonderful news!

@zhoudoufu Could you share the Chinese version? I will modify it for a Korean version. Thanks!

[2021-04-20 17:06] matt-mkidd-ko commented on #50
I would recommend going straight to the collab link:

https://colab.research.google.com/github/patil-suraj/question_generation/blob/master/question_generation.ipynb

I adapted it slightly to get the results I wanted in a clear way:

First cell (get dependencies)

[code]

Second cell (initiate the multi task (question answering AND question generation)):

[code]

Third cell (down to business ;) ):

[2021-04-27 07:43] yanghoonkim commented on #23
Still facing the same error, with transformers==v3.0.0

[2021-04-30 19:31] yqinolive commented on #75
Looking forward to the answer ...

[2021-05-09 02:37] fcakyon commented on #71
@patil-suraj what is needed to migrate this project into huggingface datasets library since the nlp library is deprecated? I can work on a PR if you guide me on this.

[2021-05-31 16:45] bipinkc19 opened #78 "ValueError: substring not found"
![image](https://user-images.githubusercontent.com/41479925/120222496-c0f69800-c25f-11eb-86cb-1570bdc532a5.png)

I cant disclose the text, but this is the error I get in every model

[2021-06-01 02:23] neelkantnewra commented on #78
I am also facing the same error with some specific text file. mostly containing " " in-between the text.

[2021-06-01 02:58] neelkantnewra commented on #78
Can you check your text, if it contains any unwanted trademark icon like Teamcenter™s.  I was getting the same error but when removed TM by ', the error was fixed.  There are much-unwanted string which is not recognizable by the model.

[2021-06-01 03:08] neelkantnewra commented on #78
I have also faced the same issue, Can you check your text if it contains any trademark symbol in between any word.

for example:
`interface to Teamcenter™s Business`
when I removed that ™ from the above string it works fine,
`interface to Teamcenter's Business`

[2021-06-01 06:18] bipinkc19 commented on #78
![image](https://user-images.githubusercontent.com/41479925/120275609-50885f00-c2d1-11eb-9890-47ea58aa4cb2.png)
![Uploading image.png…]()

[2021-06-01 06:19] bipinkc19 commented on #78
How do we fix this
![image](https://user-images.githubusercontent.com/41479925/120275753-84638480-c2d1-11eb-8b77-e6655e2f347b.png)

[2021-06-01 07:22] neelkantnewra commented on #78
Okay, I got that, I have commented on a specific problem. In my case, I am using a pdf file consisting of 50 pages, I checked it with some pages, it was throwing the same error, Maybe it is due to the model not able to generate the answer of specific text.

If you want an instant solution then I will suggest using try: exception at least you will get some question and answer.

This is just a tempo

[2021-06-01 07:48] bipinkc19 commented on #78
May be when it can't generate the answers in some text and throws error like you said.
Thank you for looking in to it.

[2021-06-01 07:49] neelkantnewra commented on #78
I have done a pull request, lets see when it will be accepted, you can always try the approach of Exception handling.

[2021-06-10 08:49] tdasari2020 commented on #78
@neelkantnewra how was the inference times for 50 pg pdf? Also did you try fine tuning the model?

[2021-06-11 06:23] neelkantnewra commented on #78
I don't remember exactly, currently, I am busy with another project.  Yes, we fine-tune it, else it will give the worse result.

[2021-06-26 05:05] mirfan899 opened #80 "How to use local model?"
I tried to use the local model from my machine to generate questions, but it seems the pipeline can't handle the model argument if the model is stored on the local machine. It always downloads the model to generate questions.

[code]

Here is what this shows.

[code]

[2021-06-28 07:01] krystianjarmul opened #81 "Why does it take so long to init pipeline?"
![image](https://user-images.githubusercontent.com/47600159/123594009-741ac880-d7ef-11eb-8d8e-6fbd10cccdcb.png)
Hi everyone,
I wonder why it takes so much time to initialize the pipeline for single QG task(~7sec on GPU on GC), comparing to fast question generation time (~2sec). I would like to speed up this process if it's possible, maybe someone here had similar problem and how how to fix it?

[2021-06-29 13:03] vanya-r commented on #11
The same issue, as I can say. In my variant problem was with `self.ans_tokenizer.decode(ids, skip_special_tokens=False) for ids in outs` wich generate `<pad> ` on start in each outputs.

[2021-07-13 12:31] qjncxj commented on #31
Great!

[2021-07-13 13:30] qjncxj opened #83 "issues about "python eval.py ""

[2021-07-17 01:35] #83 closed

[2021-07-17 01:45] qjncxj commented on #83
When I use the eval.py script for evaluting the model, the following command lines would be modified:
python eval.py \
    --model_name_or_path t5-base-qg-hl \
    --valid_file_path valid_data_qg_hl_t5.pt \
    --model_type t5 \
    --num_beams 4 \
    --max_decoding_length 32 \
    --output_path hypothesis_t5-base-qg-hl.txt

I replace the word "base" with "small" twice, then the command lines can

[2021-07-18 00:24] thiswillbeyourgithub commented on #81
I'm currently working on one of the forks (autocards) and am very interested in knowing what's taking this long too. Especially as I'm only using a subset of the script.

I hope someone can shed some light on this.

Have a nice day.

[2021-07-30 06:08] ksmultiacc3 opened #84 "License of hugging face model"
Could you please tell me the license of https://huggingface.co/valhalla/t5-base-qg-hl ? It is trained on squad, and squad is CC BY-SA 4.0 . So how can the model be MIT license?

[2021-08-03 08:06] UsmanNiazi opened #85 "Feature Request: Generate Question based on a keyword or answer"
Hi, I tried using the models for a specific usecase which is generating questions based on a keyword / answer but was unsuccessful. Please implement this as this would be very helpful .

[2021-08-19 06:39] shaktisd commented on #1
@patil-suraj - Is there a support for generating questions in Hindi available ?

[2021-09-01 06:08] razauh commented on #78
I had the same error, There are some special characters in input string which models are unable to process. So just remove special characters and it will work.

[2021-09-01 06:24] neelkantnewra commented on #78
That is one case, but when the model is not finding any suitable question-answer pair it through an empty dict and since it is empty we get a Value error. we can solve this by exception Handling as previously mentioned.

[2021-09-22 20:24] razauh commented on #22
Your provided solution works. I have deployed distilt5-qg-hl-6-4 model using Flask by downloading it in local directory and on local host it generates questions every time. When I tried to deploy this site to pythoneverywhere it gives `IndexError: list index out of range ` every time (with your provided solution, otherwise it gives ValueError: substring not found) by looking at complete [traceback

[2021-10-09 05:39] xuhx044 commented on #1
I have tested mt5, loss is 0.4, it is still training. Do you mind if we can discuss it in chinese?

[2021-10-20 13:31] vikxoxo opened #89 "Fnetuning on custom dataset"
Hi, may you please provide a sample dataset format, and finetuning with it. I can't understand from existing github repo, what kind of input, and labels model need for training.

[2021-11-01 09:50] deangeckt opened #90 "answer contains <pad> leads to error in the example"
when running the example:

nlp("42 is the answer to life, universe and everything.")

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-30-b515a324ad8b> in <module>
----> 1 nlp("42 is the answer to life, universe and everything.")

~\question_generation\pipelines.py in __call__(self

[2021-11-01 10:09] deangeckt commented on #90
also in _prepare_inputs_for_qg_from_answers_hl()
i'd add this check to avoid further exceptions

if answer_text not in sent:
    continue

[2021-11-03 11:19] liesketrommelen commented on #78
when using the text "42 is the answer to life, universe and everything" same error occurs. How to solve this?

[2021-11-26 13:18] sabhi27 opened #91 "Want to finetune model on custom data!!!"
Hi @patil-suraj, I looked at your work. It seems to be an awesome use case to solve in the real world. I am looking forward to finetuning the model on my custom data. I currently have a single CSV file with context, question, and answer as 3 columns in it.

I have some questions for you for finetuning model for the multi-task purpose (qa-qg) i.e. t5-base-qa-qg-hl:
1. Should I first transform this

[2021-11-29 13:08] sabhi27 commented on #47
Hi @ontocord , Can you please share your training repo with me. I am trying to train for multitask model, your training pipeline might help me here.

[2021-12-07 13:14] rajats commented on #78
@liesketrommelen You need to use transformers 3.0.0

[2021-12-10 13:24] sabhi27 commented on #71
@patil-suraj Can you please help us to simply training on any custom data being in same .json format as of Squadv1

[2021-12-11 19:04] sabhi27 commented on #91
Solved

[2021-12-11 19:04] #91 closed

[2021-12-17 07:21] sabhi27 commented on #71
Solved!

[2021-12-17 07:24] sabhi27 commented on #71
@aniketgambhire For whatever data you want to train this model:
1. You need to get the data in same format as SQuAD is.
2. You need to change information like dataset path, num_bytes, num_examples in the dataset_infos.json file

After this you are good to go for training. Hope this helps!

[2021-12-20 12:13] cdhx commented on #90
same issue
this is intermediate result during execute
[code]

[2021-12-20 12:21] cdhx opened #93 "unexepect <pad>"
hi, thanks for publish this amazing tool !

i run the demo and find some problem

it is said that
[code]

I find that it is because in line 142 there is a ".index"， and the answer is not in input sentence, so it cannot find the answer in sentence
https://github.com/patil-suraj/question_generation/blob/master/pipelines.py#L142

I further output the intermediate result，and find that
[code]
the model

[2021-12-28 11:28] YiLing28 commented on #90
in pipelines.py, line 90, set skip_special_tokens=True
`dec = [self.ans_tokenizer.decode(ids, skip_special_tokens=True) for ids in outs]`
This may solve the problem.

[2022-01-01 15:05] KTG1 commented on #11
Hello, is this problem fixed?

[2022-01-03 09:45] jacampo commented on #91
Hi, i'm interested in this, how did you solve it?

Thanks in advance 😊

[2022-01-12 01:10] EnzoBustos opened #94 "ValueError: substring not found"
Hello, I need to use this Question Generation, for one of my projects, but I´m having trouble with the input text. Always seems to get this error "ValueError: substring not found", and I remove commas and special characters in my text, but I don´t have a clue why this keeps happening.

[2022-01-26 00:01] tanyaroosta commented on #89
@patil-suraj can you please provide some guidance on this question.  I have a similar issue trying to fine tune using my own dataset. Not clear what format I need to input the data to the prepare_dataset script.

[2022-02-05 17:09] VikasOjha666 opened #95 "How can i run this project with transformers 4?."
Hi Suraj,
I working with optimizing the t5 model for inference and I found that transformer 4 has better options hence I wanted to run this project with transformer 4.

[2022-02-10 09:00] VikasOjha666 commented on #73
You can generate in this way:

gen_tok=["generate question:  <hl> Python <hl>  is an interpreted, high-level, general-purpose programming language. Created by Guido van Rossum and first released in 1991, Python's design philosophy emphasizes code readability with its notable use of significant whitespace."]
tokenized=tokenize(gen_tok)
input_ids,attention_mask=tokenized['input_ids'],tokenized['atte

[2022-02-13 13:20] VikasOjha666 commented on #95
The answer can be found in the pull section where someone has fixed the substring not found the issue. I did that change and was able to run it on transformer 4.

[2022-02-17 13:22] sabhi27 commented on #1
Hi @zhoudoufu , Were you able completely finetune mt5 model on chinese? Can you please share your training pipeline so that I can try it out for other languages also?

[2022-03-08 09:17] viru-12 commented on #47
Hi @ontocord ,can you please share your training repo with me. It will be very helpful.

[2022-03-15 14:22] GOURAVSUMAN opened #96 "Which Bart model used in the pipeline"
How Bart and T5 been used

[2022-03-15 14:41] GOURAVSUMAN commented on #76
Even i had the same question can u please guide

[2022-03-19 04:51] pat266 commented on #41
@hariesramdhani I'm not sure if you are still stuck, but you need to include data_files= `'/path/to/file'` in the nlp.load_dataset() (source: https://huggingface.co/docs/datasets/v0.4.0/add_dataset.html)
Example: `natural_question = nlp.load_dataset("natural_questions", data_files= '/content/drive/My Drive/natural_questions', split=nlp.Split.TRAIN)`

[2022-03-23 05:11] swathykumar276 opened #97 "Is it possible to add a parameter for number of question to be generated in the question generation model"
nlp = pipeline("e2e-qg", numberofQuestions=2)

is it possible to finetune like that

[2022-03-24 17:10] tonyken12345 opened #98 "No such file or directory: '/root/.cache/huggingface/datasets/squad_multitask/highlight_qg_format/1.0.0/dataset_info.json'"
When i do python prepare_data.py,Why run out of this message?

[2022-03-25 20:52] pat266 opened #99 "Fine-tuning using GPU"
Is there a way to fine-tune using a GPU instead of a TPU? @patil-suraj

My dataset is too large, and the v2-8 TPU in Google Colab always ran out of memory, even when the batch size is 2

[2022-04-08 08:48] binggoml commented on #98
me too,this code has many errors

[2022-04-12 09:56] JingxinLee commented on #98
nlp.utils.info_utils.NonMatchingSplitsSizesError: [{'expected': SplitInfo(name='train', num_bytes=226286197, num_examples=253276, dataset_name='squad_multitask'), 'recorded': SplitInfo(name='train', num_bytes=226284739, num_examples=253275, dataset_name='squad_multitask')}]

[2022-04-19 12:16] rupeshpoojary97 commented on #52
What were the values for decoder_input_ids and decoder_attention_mask

[2022-04-19 12:19] Ki6an commented on #52
@rupeshpoojary97  use [fastt5 ](https://github.com/Ki6an/fastT5) it exports the model onnx effortlessly

[2022-04-22 13:26] moelllerniklas commented on #94
This propably happens because your transformers version does not meet the requirement of transformers==3.0.0, alternatively check out my fork https://github.com/niklaspm/question_generation which includes pull requests https://github.com/patil-suraj/question_generation/pull/87 and https://github.com/patil-suraj/question_generation/pull/34 (fixed substring error and therefore support for current tr

[2022-05-02 14:09] VikasOjha666 opened #100 "Can we generate questions based on the type of question?"
@patil-suraj
I was wondering can we generate questions based on types like remembering based question,analysis based or comprehension based?
Any information on such thing is appreciated.

[2022-05-09 06:01] swathykumar276 opened #101 "abbrevation in question generated are some times coming in small case such as it instead of IT/ai instead AI etc"
@patil-suraj  abbrevation in question generated are some times coming in small case such as it instead of IT/ai instead AI etc

[2022-06-04 08:59] gabriead commented on #93
I stumbled upon the same error. Any update on that?

[2022-07-29 03:17] xhbii commented on #98
I am facing the same error, did u solved it dude?

[2022-08-08 05:09] ronaldgevern commented on #22
When you use string_object.index(substring), it looks for the occurrence of substring in the string_object. If substring is present, the method returns the index at which the substring is present, otherwise, it throws ValueError: substring not found.

Using Python’s “in” operator

The simplest and fastest way to check whether a [string contains](http://net-informations.com/python/basics/contains.h

[2022-08-10 17:14] smyja commented on #84
Did you find out?

[2022-08-11 18:47] ZihaoLin0123 commented on #98
If you check the file data/squad_multitask/dataset_infos.json, you will find ""splits": {"train": {"name": "train", "num_bytes": 226286197, "num_examples": 253276,......", you can change "226286197" to "226284739" and change "253276" to "253275", then you can fix the error.

[2022-08-11 18:48] ZihaoLin0123 commented on #98
If you check the file data/squad_multitask/dataset_infos.json, you will find:
    "splits": {"train": {"name": "train", "num_bytes": 226286197, "num_examples": 253276,......

You can change "226286197" to "226284739" and change "253276" to "253275", then you can fix the error.

[2022-09-08 11:16] Serhii-Barskyi opened #102 "Retraining the model valhalla/t5-small-e2e-qg with questions only"
Hello! Please tell me if I understood correctly:
valhalla/t5-small-e2e-qg model trained on squad_multitask dataset?

Does the squad_multitask dataset contain question-answer pairs?

I have text. The model generated a set of questions for me. I manually corrected the received set of questions and want to retrain the valhalla/t5-small-e2e-qg model

I have the first list of questions that the model p

[2022-09-16 15:54] khonzoda opened #103 "Model trained for e2e-qg does not generate any questions"
I have applied the data preparation code as well as training code to train the model for e2e-qg task. However, when I add the newly trained model into e2e question generation pipeline, it generates empty lists. I tried working with parameters as well as change the dataset, but the same problem persists. What could be happening?

[2022-10-09 08:19] monk1337 opened #104 "How to get the `char end` and `char start` in the generated question and answers from valhalla/t5-base-qg-hl?"
Hi, The output of model `valhalla/t5-base-qg-hl` is `{question and answer}` is it possible to get char end and char start?

[2022-10-17 14:59] casafurix commented on #11
hello...is the problem fixed?

[2022-10-19 11:22] Bagherihaali opened #106 "error while using onnx runtime"
Hi,
i want t use onnx-runtime to speed-up  question generation as you suggested [here](https://github.com/patil-suraj/question_generation/issues/70#issuecomment-776583844)
but i got some errors.

i am on ubuntu 20
installed packages from requirement files
because of onnx dependency errors replaced protobuf with protobuf==3.20.1

my code :

[code]

stack trace :

[code]